.row-header{
    margin:0px auto;
    padding:0px auto;
}

.jumbotron {
    padding:33px 30px 27px 30px;
    margin:0px auto;
    background: rgba(155, 65, 45, 1);
    color: rgba(255, 250, 105, 1);
}

#t-letter{
   font-size: 111%;
}
/* reg Form style *
#regForm{
   font-size: 108%;
   background: rgba(185, 55, 5, 0.1);
}*/
#reserveTable{
     padding: 2px 2px 2px 2px; 
     margin-bottom: 7px;   
}
#reserveTableForm{
     padding: 2px 2px 2px 2px; 
       
}

.row-content {
    margin:0px auto;
    padding: 55px 0px 55px 0px;
    border-bottom: 1px ridge;
    min-height:100px;
    /*color: rgba(135, 130, 55, 1);*/
}

.row-footer{
    background-color: rgba(185, 55, 5, 0.8);
    margin:0px auto;
    padding: 20px 0px 20px 0px; 
}
/*links inside footer*/
.row-footer a:link, .row-footer a:visited {
    color: rgba(35, 0, 0, 1);;
}

address{
    font-size:90%;
    margin:0px;
    color:#0f0f0f;
}

/* LINKS: everywhere links color and size */
a:link {
    color:rgba(205, 77, 30, 1);
}
/* visited link */
a:visited {
    color:rgba(175, 77, 30, 1);
}
/* mouse over link */
a:hover {
    color:rgba(235, 117, 70, 1);;
}
/* selected link */
a:active {
    color: rgba(255, 127, 80, 1);
}
/*NAVIGATION style*/
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}
.navbar-inverse {
    background: rgba(145, 55, 35, 1);
    color: rgba(238, 238, 188, 1);}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: rgba(238, 238, 238, 1);
    background: rgba(155, 65, 45, 1);}
.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: rgba(155, 65, 45, 1);}
.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: rgba(155, 65, 45, 1);
    color: rgba(238, 238, 238, 1);}
.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;}

#signInForm{
    
    color: rgba(158, 158, 158, 1);
    /*padding:9px 0px 7px 121px;*/
    }

.breadcrumb {background: rgba(125, 159, 59, 1); 
             border-radius: 0px;}
            /*background: -webkit-linear-gradient(top, rgba(155, 65, 45, 1) 0%,
             rgba(125, 159, 59, 1) 100%); 
            background: linear-gradient(to bottom,
             rgba(155, 65, 45, 1) 30%, rgba(125, 159, 59, 1) 70%); 
            border: 0px solid rgba(181, 62, 62, 1);  
            display: block;}*/
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: rgba(145, 55, 35, 1);}
.breadcrumb a:hover {color: rgba(195, 105, 85, 0.8);}
.breadcrumb>.active {font-weight: bold; color: rgba(145, 55, 35, 0.8);}
.breadcrumb>li+li:before {color: rgba(155, 65, 45, 0.5); content: "\2771\00a0";}

.tab-content {
    
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
/*about page vertical navigation*/
.affix {
    top:100px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color: rgba(255, 140, 0, 1);

}
/*Photo Gallery Carousel*/
.carousel {
    background: rgba(155, 65, 45, 1);
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      max-height: 500px;
      /*width: 70%;*/
      margin: auto;

  }
 #carouselButtons {
    right:0px;
    position: absolute;
    bottom: 0px;
}
/*.carousel .item {
  height: 500px;
}
.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}*/